<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "First";
            $scope.lastName = "Last";
        });
    </script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        First Name:<input type="text" ng-model="firstName" />
        Last Name :<input type="text" ng-model="lastName" />
        <br /><br />
        Full Name:{{firstName + " " + lastName}}
    </div>
</body>
</html>
