<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="L9-controller.js"></script>
</head>
<body ng-app="app" ng-controller="controller">
    <h1>Looking At Filters - Part b</h1>
    No Filter:
    <ul>
        <li ng-repeat="u in users">
            {{u}}
        </li>
    </ul>
    Filter Out all without an a:
    <ul>
        <li ng-repeat="u in users | filter: 'a'">
            {{u}}
        </li>
    </ul>
    Filter - User must be Joe:
    <ul>
        <li ng-repeat="u in users | filter: 'Joe' : true">
            {{u}}
        </li>
        or Jani
        <li ng-repeat="u in users | filter: 'Jani' : true">
            {{u}}
        </li>
    </ul>
    <hr />
    <input type="text" ng-model="uFilter" />
    <ul>
        <li ng-repeat="u in users | filter: uFilter">
            {{u}}
        </li>
        
    </ul>
</body>
</html>
